ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

#container {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

#scene {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1e398b; }

.layer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

/* SO WAVE -------------------- */
.wave {
  position: absolute;
  background: transparent repeat-x;
  width: 300%;
  left: -100%; }

.wave.dark-blue {
  background-image: url(/static/img/wave_3.png); }

.wave.medium-blue {
  background-image: url(/static/img/wave_2.png); }

.wave.light-blue {
  background-image: url(/static/img/wave_1.png); }

.wave.depth-20 {
  -webkit-animation: wave 6.66667s 0s infinite linear;
          animation: wave 6.66667s 0s infinite linear;
  bottom: 40px;
  margin: 0px 0px;
  height: 100px; }

.wave.depth-40 {
  -webkit-animation: wave 6.66667s -0.5s infinite linear;
          animation: wave 6.66667s -0.5s infinite linear;
  bottom: 0px;
  margin: 0px 0px;
  height: 100px; }

.wave.depth-60 {
  -webkit-animation: wave 6.66667s -1s infinite linear;
          animation: wave 6.66667s -1s infinite linear;
  bottom: -40px;
  margin: 0px 0px;
  height: 100px; }

/* MUCH STAR -------------------- */
.star {
  position: absolute;
  width: 100%; }

.star.diamond {
  background-image: url(/static/img/diamond.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 400px;
  -webkit-animation: phase 20s 0.1s infinite linear;
          animation: phase 20s 0.1s infinite linear; }

.star.dot {
  background-image: url(/static/img/dot.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 400px;
  top: -20px;
  -webkit-animation: phase 16s -2.1s infinite linear;
          animation: phase 16s -2.1s infinite linear; }

.star.sparkle {
  background-image: url(/static/img/sparkle.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 400px;
  top: -20px;
  -webkit-animation: phase 12s -4.1s infinite linear;
          animation: phase 12s -4.1s infinite linear; }

/* SUCH LIGHTHOUSE-------------------- */
.lighthouse {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 65px;
  width: 45px;
  height: 200px;
  background-image: url(/static/img/lighthouse.png);
  background-size: 100%;
  background-repeat: no-repeat; }

/* ERROR MESSAGE -------------------- */
.error-message {
  background-image: url(/static/img/404_.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 80px;
  width: 280px;
  height: 200px;
  padding-top: 170px; }

.button {
  cursor: pointer;
  padding: .75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: intrinsic;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375;
  border-radius: 4px;
  border: 1px solid #fff; }
  .button a {
    text-decoration: none;
    color: #fff; }

/* ANIMATION WOW -------------------- */
@-webkit-keyframes wave {

  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg); } }
@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg); } }
@-webkit-keyframes lighthouse {

  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
            transform: translate3d(15%, 0, 0) rotateZ(10deg); }

  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
            transform: translate3d(-15%, 0, 0) rotateZ(-10deg); } }
@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
            transform: translate3d(15%, 0, 0) rotateZ(10deg); }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
            transform: translate3d(-15%, 0, 0) rotateZ(-10deg); } }
@-webkit-keyframes phase {

  0% {
    opacity: 1; }

  25% {
    opacity: 0.4; }

  50% {
    opacity: 0.8; }

  75% {
    opacity: 0.4; }

  100% {
    opacity: 1; } }
@keyframes phase {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.4; }
  50% {
    opacity: 0.8; }
  75% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
