

body {
	margin: 40px 0 0 0;
	padding: 0;
	background: #B2D22A url(/static/img/img1.gif) repeat-x;
	background-position: 0 0; 
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #688000;
}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	/*text-transform: lowercase;*/
	color: #617703;
}

a {
	color: #688000;
}

a:hover {
	text-decoration: none;
}

p, ul, ol, blockquote {
	text-align: justify;
}

/* Header */

#header {
	width: 970px;
	height: 130px;
	margin: 0 auto;
	background: url(/static/img/img2.jpg);
	background-position: 0 0; 
}

#logo {
	float: left;
	padding: 25px 0 0 30px;
}

#logo h1 {
	letter-spacing: -4px;
	font-size: 4em;
}

#logo h2 {
	margin-top: -10px;
	margin-left: 50px;
	text-align: center;
	font-size: 1.7em;
}

#logo a {
	text-decoration: none;
	color: #86A406;
}

#menu {
	margin-top: 10px;
	float: right;
	padding: 20px 70px 0 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	width: 125px;
	height: 20px;
	padding-left: 10px;
	background: url(/static/img/img4.gif) no-repeat left center;
	background-position: 0 0; 
	border-top: 1px dotted #86A406;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 18px;
	color: #86A406;
}

#menu .first a {
	border: none;
}

/* Content */

#content {
	width:970px;
	margin: 0 auto;
	background: url(/static/img/img3.jpg) repeat-y;
	background-position: 0 0; 
}

/* Column One */

.colOne {
	margin-top: 0 15px;
	margin-left: 2px;
	background: url(/static/img/img5.gif) repeat-x;
	background-position: 0 0; 
}
.colOne .art_content {
	margin-left: 50px;
	padding-top: 30px;
}
.colOne .article {
	border-bottom: 1px dotted #A8C54B;
}

.colOne .art_title {
	letter-spacing: -2px;
	font-size: 3em;
}
.colOne .art_time {
	letter-spacing: 1px;
	font-style: bold;
	font-size: 1em;
}

.colOne .art_summary {
	font-size: x-small;
}

.colOne .art_separate {
	width: 910px;
	height: 1px;
	margin-left: -20px;
}
.colOne .art_separate {
	background: url(/static/img/img5.gif) repeat-x;
}
/* Column Two */

#colTwo {
	margin: 0 15px;
	background: #E5FAA0 url(/static/img/img6.gif) repeat-x;
	background-position: 0 0; 
}

#colTwo #Friend_site_Link{
	float: left;
	width: 200px;
}
#colTwo li {
	display: block;
	float: left;
	width: 320px;
}

#colTwo ul {
	margin: 0;
	padding: 30px 30px 0 30px;
	list-style: none;
}

#colTwo li ul {
	padding: 0;
	background-image: url(/static/img/spacer.gif);
	background-position: 0 0; 
}

#colTwo li li {
	display: list-item;
	float: none;
	padding-left: 10px;
	background: url(/static/img/img4.gif) no-repeat left center;
	background-position: 0 0; 
}

#colTwo h2 {
	font-size: 1.5em;
}
/* Footer */

#footer {
	width: 970px;
	margin: 0 auto;
	background: url(/static/img/img8.jpg) no-repeat;
}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-size: x-small;
}
.div_content {
	
style='layout-grid:15.6pt;
}