
.colOne #article_0 {
	margin-top: 20px;
}
.colOne .art_summary {
	font-size: 1.2em;
	text-indent:2em;
}

.colOne .art_separate {
	width: 910px;
	height: 1px;
	margin-left: -20px;
}
.colOne .art_separate {
	background: url(/static/img/img5.gif) repeat-x;
}
.colOne .read_more a{
	color: #6D520B;
	font-size: 1.25em;
}
